<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">        
        <title>PAGE CONTENT</title>
        <style>
            p {
                margin-left:70px;
                font-size: 200%;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron" style="margin-bottom:0">
            <h1>{{post.title}}</h1>
        </div>
       <nav class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid">
             <ul class="nav navbar-nav">
                <li><a href="/">home</a></li>
                <li><a href="/">about</a></li>
            </ul>
            </div>
        </nav>
        <div class="post">
            <p>
                {{post.content|safe}}
            </p>
        </div>
    </body>
</html>