<!DOCTYPE html>
<html>
    <head>
        <title>INDEX PAGE</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron" style="margin-bottom:0">
            <h1 style="padding:10px">Ansh's blog</h1>
            
        </div>
        <nav class="navbar navbar-inverse navbar-fixed h-90">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                    <form action="{%url 'home:search_results'%}" method="GET" value="{{request.GET.tag}}" class="form-inline" style="padding:7px">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="text" name="tag" value={{request.GET.tag}}>
                        <button class = "btn btn-primary" type="submit" value="Search">Search</button>
                    </form>
                    </li>
                    <li class="nav-item"><a href="https://www.instagram.com/ansh_chadha_163/">About</a></li>
                </ul>
            </div>
        </nav>
            {% if all_posts %}
                    {% for post in all_posts %}
                        <div class = "card w-75" style="padding:18px">
                            <div class="card-body">
                                <h1 class="card-title"><a href="{% url 'home:content' post.id %}" class="card-link">{{post.title}}</a></h1>
                                <p class="card-text" style="font-size:20px">{{post.description}}</p>
                            </div>
                        </div>

                    {% endfor %}
            {% else %}
                <p style = "text-align:center">No posts found</p>
            {% endif %}


    </body>
</html>